<div class="container">

    <div class="usuario" *ngIf="usuario && rol == 'ROLE_USER'">
        <p><strong>Nombre completo: </strong>{{usuario.firstName}} {{usuario.lastName}}</p>
        <p><strong>Username: </strong>{{usuario.username}}</p>
        <p><strong>Email: </strong>{{usuario.email}}</p>
        <p><strong>Telefono: </strong>{{usuario.telefono}}</p>

        <div class="direccion" *ngIf="direcciones && !mostrarFormularioDireccion">
          <ng-container *ngFor="let direccion of direcciones">
            <div class="direccion-item">
              <p><strong>Calle: </strong>{{direccion.calle}}</p>
              <p><strong>Ciudad: </strong>{{direccion.ciudad}}</p>
              <p><strong>Provincia: </strong>{{direccion.provincia}}</p>
              <p><strong>Código Postal: </strong>{{direccion.codigoPostal}}</p>
              <p><strong>Pais: </strong>{{direccion.pais}}</p>
              <div class="direccion-actions">
                  <button (click)="editarDireccion(direccion)">Editar</button>
                  <button (click)="deleteDireccion(direccion.id)">Eliminar</button>
              </div>
          </div>
          </ng-container>
        </div>

        <div class="btn-addDireccion" *ngIf="!direcciones && !mostrarFormularioDireccion">
          <p><strong>Dirección: </strong></p>
          <p>Sin dirección asignada</p>
          <button (click)="mostrarFormularioDireccion = true">Agregar dirección</button>
      </div>

      <div class="direccion-form" *ngIf="mostrarFormularioDireccion">
          <h3>Añadir direccion</h3>
          <form [formGroup]="direccionForm" (ngSubmit)="onSUbmit()">
              <div class="form-group">
                  <label for="calle">Calle:</label>
                  <input id="calle" formControlName="calle" type="text" required>
              </div>
              
              <div class="form-group">
                  <label for="ciudad">Ciudad:</label>
                  <input id="ciudad" formControlName="ciudad" type="text" required>
              </div>
              
              <div class="form-group">
                  <label for="provincia">Provincia:</label>
                  <input id="provincia" formControlName="provincia" type="text" required>
              </div>
              
              <div class="form-group">
                  <label for="codigoPostal">Código Postal:</label>
                  <input id="codigoPostal" formControlName="codigoPostal" type="text" required>
              </div>

              <div class="form-group">
                <label for="codigoPostal">Pais:</label>
                <input id="pais" formControlName="pais" type="text" required>
            </div>
              
              <div class="form-actions">
                  <button type="submit" [disabled]="direccionForm.invalid">Guardar</button>
                  <button type="button" (click)="mostrarFormularioDireccion = false">Cancelar</button>
              </div>
          </form>
        </div>
      </div>

    </div>

    <div class="usuarios" *ngIf="lUsuarios">
        <div *ngFor="let u of lUsuarios">
            <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
                <thead>
                  <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nombre</td>
                    <td>{{u.firstName}}</td>
                  </tr>
                  <tr>
                    <td>Apellido</td>
                    <td>{{u.lastName}}</td>
                  </tr>
                  <tr>
                    <td>Username</td>
                    <td>{{u.username}}</td>
                  </tr>
                  <tr>
                    <td>Telefono</td>
                    <td>{{u.telefono}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{u.email}}</td>
                  </tr>
                  <tr>
                    <td>¿Activo?</td>
                    <td *ngIf="u.enabled">
                        SI
                    </td>
                    <td *ngIf="!u.enabled">
                        NO
                    </td>
                  </tr>
                  <tr>
                    <td>Último cambio de contraseña</td>
                    <td>{{u.lastPasswordResetDate}}</td>
                  </tr>
                  <tr>
                    <td>Rol</td>
                    <td>{{rol}}</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
</div>



