<div class="products-container">

  <div *ngIf="showAddToCartMessage" class="alert alert-success add-to-cart-alert">
    <i class="bi bi-check-circle"></i> {{ mensaje }}
    <button type="button" class="btn-close" (click)="showAddToCartMessage = false"></button>
  </div>

   <div *ngIf="buscado && !productos" class="alert alert-danger text-center">
    <i class="bi bi-exclamation-triangle"></i> {{ mensajeErrorBusqueda }}
  </div>

  <div class="products-grid" *ngIf="productos && productos.length > 0">
    <ng-container *ngFor="let p of productos">
      <div class="product-card" *ngIf="p.disponible">
        <div class="clickable-area" (click)="irADetalleProducto(p.id)">
          <div class="product-image">
            <img [src]="rutasImagenes[p.id]" alt="imagen producto {{p.id}}">
          </div>
          
          <div class="product-details">
            <h3 class="product-title">{{p.nombre}}</h3>
            <p class="product-description">{{p.descripcion}}</p>
            
            <div class="product-rating">
              <div class="stars">
                <ng-container *ngFor="let estrella of getEstrellas(mediasValoracion[p.id]); let i = index">
                  <ng-container [ngSwitch]="estrella">
                    <i *ngSwitchCase="'full'" class="bi bi-star-fill"></i>
                    <i *ngSwitchCase="'half'" class="bi bi-star-half"></i>
                    <i *ngSwitchCase="'empty'" class="bi bi-star"></i>
                  </ng-container>
                </ng-container>
                <span class="rating-value">{{mediasValoracion[p.id] | number:'1.1-1'}}</span>
              </div>
              <span class="product-category">{{p.categoria.nombre}}</span>
            </div>
            
            <div class="product-price">
              <span class="current-price">{{ p.precio  | number:'1.2-2' }}€</span>
            </div>
          </div>
        </div>
        
        <button class="btn-add-to-cart" (click)="addACesta(p); $event.stopPropagation()" *ngIf="rol == 'ROLE_USER'">
          <i class="bi bi-cart-plus"></i> Añadir a cesta
        </button>
      </div>
    </ng-container>
  </div>

  <div class="card text-center p-4 shadow-sm" *ngIf="!noHayProductosDisponibles">
    <div class="card-body">
      <i class="bi bi-exclamation-circle fs-1 text-warning mb-3"></i>
      <h5 class="card-title">No hay productos disponibles</h5>
      <p class="card-text">Puedes crear un nuevo producto para empezar.</p>
      <p><a href="home/productos/form" class="text-decoration-none d-block">➕ Añadir producto</a></p>
    </div>
  </div>

</div>