<p>{{ mensaje }}</p>

<ng-container *ngFor="let p of productos">
  <div class="producto" *ngIf="p.disponible">
    <div class="click" (click)="irADetalleProducto(p.id)">
      <div class="product-image">
        <img src="" alt="imagen producto {{p.id}}">
      </div>
      <div class="product-details">
        <h2 class="product-title">{{p.nombre}}</h2>
        <p class="product-description">{{p.descripcion}}</p>
        <div class="product-rating">
          <ng-container *ngFor="let estrella of getEstrellas(mediasValoracion[p.id])">
            <ng-container [ngSwitch]="estrella">
              <span *ngSwitchCase="'full'" class="estrella">★</span>
              <span *ngSwitchCase="'half'" class="estrella half">☆</span>
              <span *ngSwitchCase="'empty'" class="estrella empty">☆</span>
            </ng-container>
          </ng-container>
          <span class="rating-badge">{{mediasValoracion[p.id]}}</span>
          <span>{{p.categoria.nombre}}</span>
        </div>
        <div class="product-price">
          <span class="original-price">{{p.precio}}€</span>
        </div>
      </div>
    </div>
    <button class="add-to-cart" (click)="addACesta(p)" *ngIf="rol == 'ROLE_USER'">
      🛒 Añadir a cesta
    </button>
  </div>
</ng-container>
