<div class="cabecera-categoria" *ngIf="categoria">
    <h2>{{categoria.nombre}}</h2>
    <p>{{categoria.descripcion}}</p>
</div>


<div class="productos">
    <div class="producto" *ngFor="let p of productos">
      <div class="product-image">
        <img src="" alt="imagen producto {{p.id}}">
      </div>
      <div class="product-details">
        <h2 class="product-title">{{p.nombre}}</h2>
        <p class="product-description">{{p.descripcion}}</p>
        <div class="product-rating">
          <ng-container *ngFor="let estrella of getEstrellas(4.2)">
            <ng-container [ngSwitch]="estrella">
              <span *ngSwitchCase="'full'" class="estrella">★</span>
              <span *ngSwitchCase="'half'" class="estrella half">☆</span>
              <span *ngSwitchCase="'empty'" class="estrella empty">☆</span>
            </ng-container>
          </ng-container>
          <span class="rating-badge">4.2</span>
          <span>{{p.categoria.nombre}}</span>
        </div>
        <div class="product-price">
          <span class="original-price">{{p.precio}}€</span>
        </div>
        <button class="add-to-cart" (click)="addACesta(p)">
          🛒 Añadir a cesta
        </button>
      </div>
    </div>
  </div>
  