<div class="form-container">
  <h2>Registrate</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input id="firstName" type="text" formControlName="firstName" />
        <small *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
          El nombre es obligatorio
        </small>
      </div>

      <div class="form-group">
        <label for="lastName">Apellido</label>
        <input id="lastName" type="text" formControlName="lastName" />
        <small *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
          El apellido es obligatorio
        </small>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text" formControlName="telefono" />
        <small *ngIf="userForm.get('telefono')?.errors?.['required'] && userForm.get('telefono')?.touched">
          El teléfono es obligatorio
        </small>
        <small *ngIf="userForm.get('telefono')?.errors?.['pattern'] && userForm.get('telefono')?.touched">
          Debe tener 8 dígitos
        </small>
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input id="email" type="email" formControlName="email" />
        <small *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched">
          El correo es obligatorio
        </small>
        <small *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched">
          Formato incorrecto
        </small>
      </div>

      <div class="form-group">
        <label for="username">Usuario</label>
        <input id="username" type="text" formControlName="username" />
        <small *ngIf="userForm.get('username')?.errors?.['required'] && userForm.get('username')?.touched">
          El usuario es obligatorio
        </small>
        <small *ngIf="userForm.get('username')?.errors?.['minlength'] && userForm.get('username')?.touched">
          Mínimo 5 caracteres
        </small>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" type="password" formControlName="password" />
        <small *ngIf="userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched">
          La contraseña es obligatoria
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid"
    [ngClass]="{'btn-enabled': userForm.valid, 'btn-disabled': userForm.invalid}">
      Registrar
    </button>

    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <a href="/login">Iniciar Sesión</a>
  </form>
</div>  