
<header>
    <h1>VENDIX</h1>

</header>
<nav>
    <div class="barra-busqueda">
        <input type="text" class="barra" placeholder="Buscar por productos">
        <button class="btn-buscar">Buscar</button>
    </div>

    <div class="carrito">
        <a href="" class="btn-carrito"> Cesta 🛒</a>
    </div>

    <div class="pedidos">
        <a href="" class="btn-pedidos">Pedidos 🛍️</a>
    </div>
</nav>

<aside>

    <div *ngIf="usuario">
        <h2>Bienvenido {{ usuario.firstName }}</h2>
    </div>

    <p><a href="" >Mi cuenta</a></p>
    <p><a href="/login"> Iniciar Sesion</a></p>
    <p><a href="/register">Registrate</a></p>
    

    <hr>

    <h3>Categorias: </h3>

    <p *ngFor="let c of categorias">
        <a (click)="btnCategoria(c.nombre)">{{ c.nombre }}</a>
      </p>

</aside>

<main>
    <div class="productos" *ngFor="let p of productos">

        <img src="" title="imagen producto {{p.id}}"/>
        <h3>{{p.nombre}}</h3>
        <p>{{p.descripcion}}</p>
        <h3>{{p.precio}}€</h3>
        <small>{{p.categoria.nombre}}</small>

    </div>
</main>

