<div class="valoraciones-container">
    <h2>Listado de Valoraciones</h2>

    <div class="search-bar">
        <label for="username">Buscar por nombre de usuario:</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="usernameBuscado"
          placeholder="Ej. juan123"
        />
        <button (click)="buscarPorUsername()">Buscar</button>
    </div>

    <div *ngIf="mensajeError" class="mensaje-error">
        {{ mensajeError }}
      </div>
  
    <ul class="valoraciones-lista">
      <li *ngFor="let val of valoraciones">
        <div class="valoracion">
          <p><strong>Usuario:</strong> {{ val.usuario.username }}</p>
          <p><strong>Producto:</strong> {{val.producto.nombre}}</p>
          <p><strong>Comentario:</strong> {{ val.comentario }}</p>
          <p><strong>Puntuación:</strong> {{ val.valoracion }} ★</p>
  
          <button
            *ngIf="rol === 'ROLE_ADMIN'"
            (click)="eliminarValoracion(val.id)"
            class="btn-eliminar"
          >
            Eliminar
          </button>
        </div>
      </li>
    </ul>
  
    <div *ngIf="valoraciones.length === 0">
      <p>No se encontraron valoraciones.</p>
    </div>
  </div>
  
